

<div class="flex-container ">

  <div class="row" *ngIf='curr_group == null'>
    <div class="col s10">
      <div class="input-field col s8">
        <i class="material-icons prefix">group</i>
        <input id="groupName" type="text" [(ngModel)]="groupName"  >
        <label for="groupName">Group Name</label>
      </div>
      <div class="col s4 btn-div">
        <button class="btn orange z-depth-3 center-align" (click)="createGroup()" >Create Group</button>
      </div>
    </div>
    <!-- <div class="col s12">
      <div class="input-field col s8">
        <i class="material-icons prefix">format_align_left</i>
        <input id="description" type="text" [(ngModel)]="description"  >
        <label for="description">Description</label>
      </div>

    </div> -->
  </div>


  <div class="row" *ngIf="curr_group != null" >


    <div class="a col s12 m6 l6">
      <div class="col s12 m8 l8">

        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/team.jpg">
            <a routerLink="/edit-group" class="btn-floating halfway-fab waves-effect waves-light red">
              <i class="material-icons">edit</i></a>
            </div>
            <div class="card-content">
              <h3 class="card-title">{{curr_group.name}}</h3>
              <p>{{curr_group.description}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col s12 m6 l6">
        <div class="col s12 m10 l10">
          <div class="collection with-header">
            <a class="collection-item">
              <h4>Members</h4>
            </a>
            <a class="collection-item" *ngFor="let member of membersList">
              <span *ngIf="member.id==curr_group.groupAdmin" class=" new badge" data-badge-caption="">Project Manager</span>
              <span *ngIf="member.id!=curr_group.groupAdmin && curr_student.id==curr_group.groupAdmin" class="btn new badge red darken-4" (click)="removeMember(member.id)" data-badge-caption="">Remove</span>
              <span *ngIf="member.id!=curr_group.groupAdmin && curr_student.id==curr_group.groupAdmin" class="btn new badge light-blue darken-4" (click)="changeAdmin(member.id)" data-badge-caption="">Make Admin</span>{{member.firstName}}</a>
            </div>

          </div>
          <div *ngIf='proposedProject === null' class="col l10 center-align">
            <p>Got a Multi-million dollar idea?</p>
            <button class="btn orange z-depth-3 center-align" (click)="createProject()" >Project Application</button>
          </div>
          <div *ngIf='proposedProject' class="proposed-project col l10 center-align z-depth-3">
            <h5>{{proposedProject.projectName}}</h5>
            <div class='col l12'>
              <button class="btn blue darken-4 z-depth-3 right" (click)="editProject()">Edit</button>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12">
            <app-group-notifications-list [isAdmin]="curr_student.id==curr_group.groupAdmin" ></app-group-notifications-list>
        </div>
        <div class="col s12 m12 l12">
          <app-rank-projects></app-rank-projects>
        </div>

        <div class="col s3 right">
          <button class="btn red darken-1 z-depth-3 center-align" (click)="leaveGroup()">Leave Group</button>
        </div>
      </div>
    </div>
