<div class="parallax">
  <h1 class="heading">FAST CAPSTONE PORTAL</h1>

  <div class="container h">
    <div class="row">
      <h2 style="text-align: center; font-family: monospace;">Features</h2>
      <div class="col s4 ">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/t.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Team Development</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/automation.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Automation</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/notification.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Notification</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/easy-to-use.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Easy-To-Use</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/Matching.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Match Making</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card horizontal cardStyle">
          <div class="card-content ">
            <span class="card-title"
            ><img src="../../assets/images/profile.png"
            /></span>
            <span
            class="card-title"
            style="
            font-family:Arial, Helvetica, sans-serif"
            >Profile</span
            >
            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer was here -->

<div class="row parallexx" style="width: 100%;  ">
  <h2 class="headingfoot">Our Team</h2>

  <div
  class="single-team"
  style="width:16%; float: left; margin-left:100px; margin-top:100px;"
  >
  <img
  src="../../assets/images/0.jpeg"
  width="200px"
  height="200px"
  alt="Team Member"
  />
  <div class="overlay"></div>
  <div class="intro-team">
    <h4>Sanchay Talwar</h4>
    <br />
    <span>Front End Developer</span>
  </div>
</div>

<div
class="single-team"
style="width:16%; float: left; margin-left:100px; margin-top:100px;"
>
<img
src="../../assets/images/karan.jpeg"
width="200px"
height="200px"
alt="Team Member"
/>
<div class="overlay"></div>
<div class="intro-team">
  <h4>Karanjot Makkar</h4>
  <br />
  <span>Front End Developer</span>
</div>
</div>

<div
class="single-team"
style="width:16%; float: left; margin-left:100px; margin-top:100px;"
>
<img
src="../../assets/images/druv.jpeg"
width="200px"
height="200px"
alt="Team Member"
/>
<div class="overlay"></div>
<div class="intro-team">
  <h4>Dhruv Talwar</h4>
  <br />
  <span>Back End Developer</span>
</div>
</div>

<div
class="single-team"
style="width:16%; float: left; margin-left:100px; margin-top:100px;"
>
<img
src="../../assets/images/kirat.jpeg"
width="200px"
height="200px"
alt="Team Member"
/>
<div class="overlay"></div>
<div class="intro-team">
  <h4>Kirat Jot Singh</h4>
  <br />
  <span>Back End Developer</span>
</div>
</div>
</div>

<div class="parallex">
  <h1 class=" heading">Contact Us</h1>
  <div class="row">
    <div class="footer-social" style="margin-top:-75px">
      <ul>
        <li>
          <a href="#"
          ><img
          src="../../assets/images/icons8-facebook-24.png"
          class="imgfoot"
          /></a>
        </li>
        <li>
          <a href="#"
          ><img
          src="../../assets/images/icons8-twitter-30.png"
          class="imgfoot"
          /></a>
        </li>
        <li>
          <a href="#"
          ><img
          src="../../assets/images/icons8-google-plus-30.png"
          class="imgfoot"
          /></a>
        </li>
        <li>
          <a href="#"
          ><img
          src="../../assets/images/icons8-instagram-24.png"
          class="imgfoot"
          /></a>
        </li>
      </ul>
    </div>
    <div>
      <p style="margin-left:39%; color:white;">
        © Copyright 2018 - All rights reserved
      </p>
    </div>
  </div>
</div>
