<div class="row">
  <div class="col s12 m12 l12">
    <div class="row">

      <div class="col s12 m12 l11">
        <h3 class="a">Edit Project</h3>
      </div>

      <div class="edit-btn col s12 m2 l1">
        <button routerLink="/viewProject" class="btn light-blue darken-3 ">Save</button>
      </div>
     </div>

  </div>
  <div class="row a ">
    <div class="input-field col s6">
      <i class="material-icons prefix">folder</i>
      <input id="company" type="text">
      <label for="name">Name</label>
    </div>
  </div>
  <div class="row a ">
        <div class="input-field col m12 s12 l10">
        <i class="material-icons prefix">format_align_left</i>
        <textarea id="description" type="text" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
       </div>
  </div>
  <div class="row a">
      <div class="input-field col s6">
          <i class="material-icons prefix">location_city</i>
          <input id="company" type="text">
          <label for="company">Company</label>
        </div>
  </div>
  <div class="row a">
      <div class="input-field col s6">
          <i class="material-icons prefix">location_city</i>
          <input id="company" type="text">
          <label for="company">Company</label>
        </div>
  </div>
  <div class="row a">
    <div class="col s6 m12 l2 details ">
      IP Type:
    </div>
    <div class="col s12 m6 l6">
        <label>IP Type</label>
        <select class="browser-default indigo-text text-darken-4">
          <option value="-1" selected>Choose your option</option>
          <option value="0">Open</option>
          <option value="1">Free Licence</option>
          <option value="2">Joint Venture</option>
          <option value="3">Client</option>
        </select>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity            </i>
          <input id="sponsor" type="text">
          <label for="sponsor">Sponsor</label>
        </div>
  </div>

</div>
