/* .view-projects {

} */
.flight-card-title{
    margin: 0;
    font-weight: 300;
    color: #fff;
}

.flight-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}
.card-header .card-title {
  padding: 20px;
}
h5 {
  font-size: 2.28rem;
  line-height: 110%;
}
.card-content{
  padding: 15px;
}
.placeholder{
  width: 100%;
  height: 200px;
}
.placeholder-title{
  margin: 0 3px 0 3px;
  width: 80%;
  height: 24px;
}
.placeholder-subTitle{
  margin: 3px;
  width: 60%;
  height: 16px;
}
/* label focus color */
.input-field input:focus + label {
  color: #0d47a1 !important;
}
.row .input-field .prefix.active{
  color: #0d47a1 !important;
}


/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important
}
.btn,.btn-floating{
  margin: 0 1% 0 1%;
}
