
<div class="background-div">
  <div class="container-fluid profile-container-div">
      <div class="row section">
          <div class=" col s4 m4 l4 profile-img" >
              <img src="{{img_src}}" class="img-thumbnail profile-img" alt="Cinque Terre" width="250px" height="10px">

          </div>
          <div class="col s8 m8 l8 profile-details" >
              <div class="section">

                  <h4 class="col s10 m10 l10">{{currentStudent.firstName}} {{currentStudent.lastName}}
                  </h4>
                  <div class="col s2 m2 l2">
                      <a href="#" routerLink="/edit-profile" class="light-blue lighten-3 btn edit-btn" *ngIf="!viewingStudent">
                          <span><i class="material-icons">edit</i></span>
                      </a>
                    <a class="btn-floating btn-large waves-effect waves-light red accent-4 white-text"
                     *ngIf="viewingStudent" (click)="cancel()" >
                      <i class="material-icons">clear</i>
                    </a>
                  </div>
              </div>
              <div class="section">

                <h5 class="col s12" style="text-align:left; color:#5bc0de;">{{currentStudent.role}}</h5>
              </div>
                  <div class="col">
                      <h5>
                          <legend class="legend-style">Skills</legend>
                      </h5>
                      <mat-chip-list>
                          <mat-chip *ngFor="let skill of skills">{{skill.name}}</mat-chip>
                          <!-- <mat-chip>Database</mat-chip>
                          <mat-chip>UI/UX Design</mat-chip>
                          <mat-chip>.NET</mat-chip> -->
                        </mat-chip-list>
                      <!-- <div class="chip grey lighten-4 ">
                          JAVA
                      </div>
                      <div class="chip grey lighten-4">
                          Database
                      </div>

                      <div class="chip grey lighten-4">
                          UI/UX Design
                      </div>

                      <div class="chip grey lighten-4">
                          .NET
                      </div> -->
                  </div>
              </div>
          </div>
<div class="divider"></div>
          <div class="row section">

              <div class="col-auto work-div">
                  <div class="">
                      <h4>
                          <legend class="legend-style">Work </legend>
                      </h4>
                      <h5 class="job-desc">Royal Bank Canada</h5>
                      <p>180 Wellington Street<br>
                          toronto, Ontario, L6Y 5S4
                      </p>
                  </div>

                  <div>

                      <h5 class="job-desc">Scotia Bank </h5>
                      <p>120 Wellington Street
                          <br>Brampton,Ontario,M4D5F3
                      </p>
                  </div>


              </div>
              <div class="col-auto contact-details">
                  <h4 style="color:grey;">Contact Information</h4>
                  <table class="table table-borderless">

                      <tbody>
                          <tr>
                              <td>Description:</td>

                              <td>{{currentStudent.description}}</td>
                          </tr>
                          <tr>
                              <td>Linkedn:</td>

                              <td>{{currentStudent.linkedinLink}}</td>
                          </tr>
                          <tr>
                              <td>Portfolio:</td>

                              <td>{{currentStudent.portfolioLink}}</td>
                          </tr>
                          <tr>
                              <td>Program:</td>

                              <td>{{PROGRAM_TEXT[currentStudent.program]}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
