<nav class="container-fluid">

  <div class="nav-wrapper indigo darken-4">
    <div class="container">


      <a class="brand-logo" style="margin-left: 1.5%;"><a routerLink='/start'>FAST Capstone Portal</a></a>
      <a data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons"> menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active">
          <a routerLink='/start'>Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink='/faq'>FAQ</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink='/login'>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="">Home</a>
  </li>
  <li>
    <a href="">FAQ</a>
  </li>
  <li>
    <a href="">Login</a>
  </li>
</ul>
